#video-call-container {
    height: 100%;
    width: 100%;
    grid-column: 1 / 1;
    display: grid;
    grid-template-rows: 9fr 1fr;

}


/* VIDEO CALL CONTENT */

#video-call-content {
    height: 100%;
    width: 100%;

    grid-row: 1 / 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/*  VIDEO CALL CONTROLS */

#video-call-controls {
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
}

#media-controls {
    grid-column: 1 / 1;
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#end-meeting {
    grid-column: 2 / 2;
}

#meta-buttons {
    grid-column: 3 / 3;
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}