
#back-button {
    grid-row: 1 / 1;
    align-self: center;
    justify-self: center;
    margin-top: 1rem;
    font-size: 33px;
}

#nav-container {
    background-color: #121212;
    display: grid;
    grid-template-rows: 1fr 10fr 2fr;

    width: 88px !important;
    max-width: 88px !important;
    height: 100vh;
}

#user-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu-items {
    grid-row: 2 / 2;
    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}

#nav-footer {
    grid-row: 3 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}